@font-face {
	font-family: "rubik";
	src: url("./fonts/Rubik-Regular.ttf");
}

@font-face {
	font-family: "rubik-light";
	src: url("./fonts/Rubik-Light.ttf");
}

@font-face {
	font-family: "rubik-bold";
	src: url("./fonts/Rubik-Bold.ttf");
}